/.idea
/hw1/.ipynb_checkpoints/*.ipynb
/hw1/AP_Coll_Parsed*
/hw1/InvertedIndex*
/hw1/__pycache__
/hw1/*.ipynb
/hw1/test.py
/hw1/test.txt
/hw2/wet_part/part_a/index
/hw2/wet_part/part_b/AP_Coll
/hw2/wet_part/part_b/AP_Coll_Test
.ipynb_checkpoints
/IR_chalenge/ROBUSTindex
/IR_chalenge/IR_Challenge.pdf
/IR_chalenge/trec_eval-9.0.7
/hw2/wet_part/part_b/index_*
/hw2/wet_part/part_b/trec_eval-9.0.7
/hw2/wet_part/part_b/run_indexing_*
/hw2/wet_part/part_b/query_res_*
/hw2/wet_part/part_b/parameters*
/hw2/wet_part/part_b/indexing_*
/hw2/wet_part/part_b/eval_*



