/.idea
/hw1/.ipynb_checkpoints/*.ipynb
/hw1/AP_Coll_Parsed*
/hw1/InvertedIndex*
/hw1/__pycache__
/hw1/*.ipynb
/hw1/test.py
/hw1/test.txt
/hw2/wet_part/part_a/index
/hw2/wet_part/part_b/AP_Coll
/hw2/wet_part/part_b/AP_Coll_Test